.body{
    position: relative;
}

.container {
    padding: 50px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,5%);
    width: 500px;
    border-radius: 50px;
    background: #F6FBF9;
}

.block{
    margin-top: 25px;
}

.title{
    font-weight: 700;
    font-size: 55.2264px;
    line-height: 72px;
    text-align: center;
    color: #212B27
}

.form {
    margin: 0 auto;
}

.selects{
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: end;
}


.label {
    position: relative;
    display: flex;
    flex-direction: column;
}

.description {
    text-align: center;
    font-style: normal;
    margin-bottom: 10px;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: rgba(0, 0, 0, 0.5);
}

.input {
    padding: 5px 10px;
    background: #FFFFFF;
    border: 1.5px solid rgba(0, 0, 0, 0.1);
    border-radius: 15.3407px;
    transition: all 0.5s ease;
}

.input:hover{
    transition: all 0.5s ease;
    border-color: rgba(0, 0, 0, 0.3);
}

.errorBorder{
    border: 1px solid #e63946;
}

.textarea{
    height: 150px;
    resize: none;
    padding: 25px;
    background: #FFFFFF;
    border: 1.5px solid rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    transition: all 0.5s ease;
}

.textarea:hover{
    transition: all 0.5s ease;
    border-color: rgba(0, 0, 0, 0.3);
}

.buttons {
    display: flex;
    justify-content: space-evenly;
}


.button{
    cursor: pointer;
    font-size: 16px;
    padding: 8px;
    border: none;
    transition: all 0.5s ease;
    background: #84C7AE;
    border-radius: 23.011px;
}

.button:hover{
    transition: all 0.5s ease;
    background: #468a71;
}

@media screen and (max-width:650px) {
    .container{
        width: auto;
        padding: 25px;
        transform: translate(-50%,0%);
    }
    .title{
        font-size: 45px;
        line-height: normal;
    }
    .selects{
        grid-template-columns: 1fr;
        justify-content: flex-start;
    }
    .label{
        justify-content: flex-start;
    }
}

@media screen and (max-width:375px) {
    .container{
        padding: 35px;
    }
    .title{
        font-size: 35px;
    }
}